#fuwu #nrone img {
  width: 100%;
}

#fuwu #nrtwo {
  margin-top: 40px;
}

#fuwu #nrtwo .title {
  position: relative;
  text-align: center;
  margin: 30px 0 24px;
}

#fuwu #nrtwo .title h2 {
  font-size: 24px;
  color: #FFD6B0;
  font-family: NSimSun;
  font-weight: normal;
}

#fuwu #nrtwo .title h4 {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  font-size: 14px;
  color: #333333;
}

#fuwu #nrtwo .lunbo {
  margin-top: 25px;
}

#fuwu #nrtwo .lunbo .services {
  margin-bottom: 90px;
}

#fuwu #nrtwo .lunbo .services .fuwu {
  display: flex;
  justify-content: space-between;
}

#fuwu #nrtwo .lunbo .services .fuwu .fwdiv {
  text-align: center;
  border-radius: 10px;
  display: block;
  width: 160px;
  height: 180px;
  text-align: center;
  color: #666666;
}

#fuwu #nrtwo .lunbo .services .fuwu .fwdiv h4 {
  font-size: 14px;
}

#fuwu #nrtwo .lunbo .services .fuwu .fwdiv p {
  font-size: 12px;
}

#fuwu #nrtwo .lunbo .services .fuwu .fwdiv span {
  margin: 20px 0 10px;
  display: inline-block;
  width: 90px;
  height: 90px;
}

#fuwu #nrtwo .lunbo .services .fuwu .fwdiv h6 {
  margin-top: 38px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: inline-block;
  color: #fff;
  background: #999999;
  border-radius: 50%;
}

#fuwu #nrtwo .lunbo .services .fuwu .fwone span {
  background: url("../img/fuwu1.png") center no-repeat;
}

#fuwu #nrtwo .lunbo .services .fuwu .fwtwo span {
  background: url("../img/fuwu2.png") center no-repeat;
}

#fuwu #nrtwo .lunbo .services .fuwu .fwthree span {
  background: url("../img/fuwu3.png") center no-repeat;
}

#fuwu #nrtwo .lunbo .services .fuwu .fwfour span {
  background: url("../img/fuwu4.png") center no-repeat;
}

#fuwu #nrtwo .lunbo .services .fuwu .fwfive span {
  background: url("../img/fuwu5.png") center no-repeat;
}

#fuwu #nrtwo .lunbo .services .promises .title {
  position: relative;
  text-align: center;
  margin-top: 110px;
  color: #333333;
}

#fuwu #nrtwo .lunbo .services .promises .title h3 {
  font-size: 20px;
}

#fuwu #nrtwo .lunbo .services .promises .title p {
  font-family: NSimSun;
  font-size: 12px;
}

#fuwu #nrtwo .lunbo .services .promises .title:after {
  content: '';
  position: absolute;
  top: 55px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #FF8516;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picup {
  margin-top: 70px;
  display: flex;
  flex-flow: wrap;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picup div {
  overflow: hidden;
  position: relative;
  margin-bottom: 6px;
  margin-right: 6px;
  display: inline-block;
  width: 396px;
  height: 188px;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picup div:nth-child(3n) {
  margin: 0;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picup h4 {
  color: #fff;
  line-height: 188px;
  text-align: center;
  font-size: 16px;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picup .picone {
  background: url("../img/1.jpg") center center no-repeat;
  background-size: 100%;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picup .pictwo {
  background: url("../img/2.jpg") center center no-repeat;
  background-size: 100%;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picup .picthree {
  background: url("../img/3.jpg") center center no-repeat;
  background-size: 100%;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picup .picfour {
  background: url("../img/4.jpg") center center no-repeat;
  background-size: 100%;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picup .picfive {
  background: url("../img/5.jpg") center center no-repeat;
  background-size: 100%;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picup .picsix {
  background: url("../img/6.jpg") center center no-repeat;
  background-size: 100%;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picdown {
  display: flex;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picdown .left {
  width: 587px;
  height: 428px;
  background: #000000;
  text-align: center;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picdown .left img {
  margin-top: 38px;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picdown .left h3 {
  font-weight: normal;
  margin-top: 41px;
  font-size: 24px;
  color: #FFFFFF;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picdown .left h4 {
  margin-top: 19px;
  font-size: 16px;
  color: #656565;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picdown .left a {
  background: url("../img/tsyjy.png") 30px center no-repeat;
  display: inline-block;
  width: 131px;
  height: 40px;
  line-height: 40px;
  margin-top: 61px;
  padding-left: 35px;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
}

#fuwu #nrtwo .lunbo .services .promises .pic .picdown .right {
  width: 612px;
  height: 428px;
  background: url("../img/2.jpg") center center no-repeat;
  background-size: 100%;
}

#fuwu #nrtwo .lunbo .design {
  position: relative;
  height: 541px;
  background: url("../img/1920pxceshi.jpg") no-repeat;
  background-size: 150%;
  display: flex;
  overflow: hidden;
}

#fuwu #nrtwo .lunbo .design .left {
  display: inline-block;
  position: relative;
  background: rgba(50, 50, 50, 0.4);
  width: 803px;
  z-index: 9;
}

#fuwu #nrtwo .lunbo .design .left h2 {
  margin: 65px 0 0 59px;
  display: inline-block;
  color: #FF8B18;
  font-size: 72px;
}

#fuwu #nrtwo .lunbo .design .left .small {
  margin-left: 15px;
  position: relative;
  top: -5px;
  display: inline-block;
}

#fuwu #nrtwo .lunbo .design .left .small h3 {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 24px;
}

#fuwu #nrtwo .lunbo .design .left .small h5 {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 14px;
}

#fuwu #nrtwo .lunbo .design .left form div {
  margin-top: 64px;
  margin-left: 57px;
  color: #fff;
}

#fuwu #nrtwo .lunbo .design .left form div h4 {
  font-size: 14px;
  display: inline-block;
  font-weight: normal;
}

#fuwu #nrtwo .lunbo .design .left form div input {
  border: none;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
}

#fuwu #nrtwo .lunbo .design .left form .up {
  margin-top: 40px;
}

#fuwu #nrtwo .lunbo .design .left form .up input {
  margin-left: 26px;
  width: 196px;
  background-color: #939393;
  margin-right: 51px;
}

#fuwu #nrtwo .lunbo .design .left form .up input::-webkit-input-placeholder {
  color: #fff;
}

#fuwu #nrtwo .lunbo .design .left form .up input:-moz-placeholder {
  color: #fff;
}

#fuwu #nrtwo .lunbo .design .left form .up input:-ms-input-placeholder {
  color: #fff;
}

#fuwu #nrtwo .lunbo .design .left form .middle input {
  width: 154px;
  margin-left: 13px;
}

#fuwu #nrtwo .lunbo .design .left form .middle .first {
  margin-left: 26px;
}

#fuwu #nrtwo .lunbo .design .left form .down {
  margin-left: 116px;
}

#fuwu #nrtwo .lunbo .design .left form .down input {
  padding-left: 23px;
  width: 511px;
  background-color: #939393;
}

#fuwu #nrtwo .lunbo .design .left form .down input::-webkit-input-placeholder {
  color: #fff;
}

#fuwu #nrtwo .lunbo .design .left form .down input:-moz-placeholder {
  color: #fff;
}

#fuwu #nrtwo .lunbo .design .left form .down input:-ms-input-placeholder {
  color: #fff;
}

#fuwu #nrtwo .lunbo .design .xuhua {
  width: 803px;
  height: 541px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/1920pxceshi.jpg") no-repeat;
  filter: blur(5px);
}

#fuwu #nrtwo .lunbo .design .right {
  display: inline-block;
  background: rgba(50, 50, 50, 0.3);
  width: 397px;
}

#fuwu #nrtwo .lunbo .design .right div {
  margin: 93px 0 0 115px;
  position: relative;
}

#fuwu #nrtwo .lunbo .design .right div h5 {
  position: relative;
  top: -9px;
  margin-left: 29px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  height: 9px;
  line-height: 9px;
}

#fuwu #nrtwo .lunbo .design .right .first {
  margin-top: 129px;
}

#fuwu #nrtwo .lunbo .proposal {
  height: 541px;
  background: url("../img/1920pxceshi.jpg") no-repeat;
  display: flex;
  overflow: hidden;
  position: relative;
}

#fuwu #nrtwo .lunbo .proposal .left {
  display: inline-block;
  width: 372px;
}

#fuwu #nrtwo .lunbo .proposal .left div {
  margin: 93px 0 0 115px;
  position: relative;
}

#fuwu #nrtwo .lunbo .proposal .left div h5 {
  position: relative;
  top: -9px;
  margin-left: 29px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  height: 9px;
  line-height: 9px;
}

#fuwu #nrtwo .lunbo .proposal .left .first {
  margin-top: 129px;
}

#fuwu #nrtwo .lunbo .proposal .right {
  display: inline-block;
  position: relative;
  background: rgba(15, 15, 15, 0.5);
  width: 828px;
  z-index: 9;
}

#fuwu #nrtwo .lunbo .proposal .right form {
  margin-left: 57px;
}

#fuwu #nrtwo .lunbo .proposal .right form div {
  margin-top: 36px;
  color: #fff;
}

#fuwu #nrtwo .lunbo .proposal .right form div h4 {
  font-size: 12px;
  width: 52px;
  display: inline-block;
  font-weight: normal;
  text-align: right;
}

#fuwu #nrtwo .lunbo .proposal .right form div input {
  border: none;
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  margin-left: 44px;
  margin-right: 52px;
  padding-left: 16px;
}

#fuwu #nrtwo .lunbo .proposal .right form div input::-webkit-input-placeholder {
  color: #fff;
}

#fuwu #nrtwo .lunbo .proposal .right form div input:-moz-placeholder {
  color: #fff;
}

#fuwu #nrtwo .lunbo .proposal .right form div input:-ms-input-placeholder {
  color: #fff;
}

#fuwu #nrtwo .lunbo .proposal .right form .up {
  margin-top: 100px;
}

#fuwu #nrtwo .lunbo .proposal .right form .up input {
  width: 196px;
  background-color: #939393;
}

#fuwu #nrtwo .lunbo .proposal .right form .up select {
  padding-left: 16px;
  margin-left: 44px;
  width: 212px;
  height: 40px;
}

#fuwu #nrtwo .lunbo .proposal .right form .middle input {
  width: 196px;
  background-color: #939393;
}

#fuwu #nrtwo .lunbo .proposal .right form .down {
  position: relative;
}

#fuwu #nrtwo .lunbo .proposal .right form .down h4 {
  float: left;
  margin-top: 16px;
}

#fuwu #nrtwo .lunbo .proposal .right form .down textarea {
  margin-left: 44px;
  padding-top: 13px;
  padding-left: 16px;
  width: 564px;
  height: 104px;
  background-color: #939393;
}

#fuwu #nrtwo .lunbo .proposal .right form .down textarea::-webkit-input-placeholder {
  color: #fff;
}

#fuwu #nrtwo .lunbo .proposal .right form .down textarea:-moz-placeholder {
  color: #fff;
}

#fuwu #nrtwo .lunbo .proposal .right form .down textarea:-ms-input-placeholder {
  color: #fff;
}

#fuwu #nrtwo .lunbo .proposal .right form .button {
  margin-top: 43px;
  margin-left: 96px;
}

#fuwu #nrtwo .lunbo .proposal .right form .button button {
  width: 160px;
  height: 50px;
  margin-right: 50px;
  border: none;
  background-color: #FF7F01;
  color: #fff;
}

#fuwu #nrtwo .lunbo .proposal .xuhua {
  width: 828px;
  height: 541px;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../img/1920pxceshi.jpg") -372px 0 no-repeat;
  filter: blur(5px);
}
