* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'MicrosoftYaHei';
  list-style: none;
}

body {
  width: 100%;
}

body header, body #nrtwo, body #nrthree, body #nrfour, body #nrfive, body #nrsix {
  width: 1200px;
  margin: 0 auto;
}

body #nrtwo, body #nrthree, body #nrfour, body #nrfive, body #nrsix {
  margin-top: 110px;
}

body #nrtwo .title, body #nrthree .title, body #nrfour .title, body #nrfive .title, body #nrsix .title {
  position: relative;
  margin-bottom: 38px;
}

body #nrtwo .title .text, body #nrthree .title .text, body #nrfour .title .text, body #nrfive .title .text, body #nrsix .title .text {
  display: inline-block;
}

body #nrtwo .title .text h3, body #nrthree .title .text h3, body #nrfour .title .text h3, body #nrfive .title .text h3, body #nrsix .title .text h3 {
  letter-spacing: 8px;
  font-size: 20px;
}

body #nrtwo .title .text p, body #nrthree .title .text p, body #nrfour .title .text p, body #nrfive .title .text p, body #nrsix .title .text p {
  font-family: NSimSun;
  font-size: 14px;
}

body #nrtwo .title .line, body #nrthree .title .line, body #nrfour .title .line, body #nrfive .title .line, body #nrsix .title .line {
  position: relative;
  top: -10px;
  height: 24px;
  padding-right: 18px;
  border-right: 2px solid #2F2B27;
}

body header > ul {
  display: flex;
  justify-content: space-between;
}

body header > ul .form {
  width: 240px;
  text-align: right;
}

body header > ul .form form {
  margin-top: 10px;
  position: relative;
}

body header > ul .form form input {
  position: relative;
  top: -10px;
  width: 120px;
  height: 32px;
  border: 1px solid #333333;
}

body header > ul .form form button {
  width: 32px;
  height: 32px;
  margin-top: 16px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
}

body header > ul .title {
  width: 52px;
  margin-right: 108px;
  text-align: left;
}

body header > ul .title a {
  text-align: left;
  display: inline;
  line-height: 0px;
  padding-bottom: 17px;
  color: #ff7f01;
}

body header > ul .title a h4 {
  text-align: center;
  width: 52px;
  padding-top: 21px;
  padding-bottom: 8px;
  line-height: 21px;
  font-size: 24px;
}

body header > ul .active {
  border-bottom: 2px solid #ff7f01;
  position: relative;
  text-align: center;
  background: url("../img/active.png") no-repeat;
  background-position: center bottom;
}

body header > ul .active > a {
  color: #ff7f01;
}

body header > ul > li {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  width: 160px;
  height: 88px;
}

body header > ul > li a {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  height: 88px;
  line-height: 88px;
  color: #333333;
}

body header > ul > li > ul {
  position: absolute;
  visibility: hidden;
  z-index: 9;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
}

body header > ul > li > ul > li {
  display: inline-block;
  width: 160px;
  background: rgba(50, 50, 50, 0.8);
}

body header > ul > li > ul > li a {
  color: #fff;
  line-height: 40px;
  height: 40px;
}

body header > ul > li:hover {
  border-bottom: 2px solid #ff7f01;
}

body header > ul > li:hover > a {
  color: #ff7f01;
}

body header > ul .form:hover {
  border-bottom: none;
}

body header > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
}

body header > ul > li:hover > ul > li:hover {
  background: rgba(0, 0, 0, 0.8);
}

body header > ul > li:hover > ul > li:hover > a {
  color: #ff7f01;
}

body .timereadauthor {
  padding-bottom: 39px;
  border-bottom: 1px solid #333;
  margin-bottom: 54px;
}

body .timereadauthor span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}

body .dh {
  font-size: 12px;
  font-weight: bold;
}

body .dh a {
  color: #333333;
}

body .dh span {
  margin: 0 8px;
}

body .product {
  height: 60px;
}

body .product .botton {
  width: 800px;
  display: flex;
  position: relative;
}

body .product .botton a {
  cursor: pointer;
  margin-right: 80px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  padding: 20px 0;
  color: #666666;
}

body .product .botton .active {
  color: #333333;
  border-bottom: 2px solid #2F2B27;
}

body .lunbo > div {
  display: none;
  transition: 0.5s;
}

body .fenye {
  display: flex;
  justify-content: center;
}

body .fenye li {
  margin: 0 15px;
}

body .fenye li a {
  display: inline-block;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #656565;
  color: #656565;
  text-align: center;
  width: 22px;
  height: 22px;
  line-height: 22px;
}

body .fenye .active {
  color: #fff;
  background: #FF8616;
  border: none;
  transition: 0.5s;
}

body .fenye li:nth-child(2) a, body .fenye li:nth-last-child(2) a {
  border: none;
}

body .fenye li:first-child a, body .fenye li:last-child a {
  border: none;
  font-size: 14px;
  width: 30px;
}

body footer {
  margin-top: 120px;
}

body footer a {
  color: #CFD0D0;
  display: block;
  font-size: 12px;
}

body footer span {
  border-right: 1px solid #fff;
}

body footer .up {
  padding-top: 85px;
  background: #4A4D4E;
  padding-bottom: 65px;
}

body footer .up > div {
  width: 1200px;
  margin: 0 auto;
}

body footer .up > div > div {
  display: flex;
}

body footer .up > div > div > div {
  text-align: left;
}

body footer .up > div > div > div h4 {
  color: #fff;
  font-size: 20px;
}

body footer .up > div > div > div a {
  margin-top: 25px;
}

body footer .up > div > div span {
  border-width: 2px;
  height: 65px;
}

body footer .up > div .upup {
  justify-content: space-between;
}

body footer .up > div .updown {
  margin-top: 50px;
  color: #CFD0D0;
}

body footer .up > div .updown h4 {
  margin-right: 30px;
}

body footer .up > div .frienda {
  margin-top: 15px;
}

body footer .up > div .frienda a {
  margin-right: 6px;
}

body footer .down {
  text-align: center;
  background: #1B1D1E;
  padding-bottom: 35px;
}

body footer .down .downlj {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

body footer .down .downlj span {
  height: 10px;
  margin: 3px 5px;
}

body footer .down h6 {
  margin-top: 15px;
  font-size: 12px;
  font-weight: normal;
  color: #CFD0D0;
}
